.names{
    display: flex;
    flex-direction: row;
}

.names input{
    width: 50%;
    margin-top: 10px;
}

#first-name{
    margin-right: 5px;
}

#last-name{
    margin-left: 5px;
}

.error{
    border: 1px solid rgba(155, 18, 18, 0.8);
    background-color: rgba(172, 107, 107, 0.979) !important;
}