.names{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.names input{
    width: 100%;
    margin-top: 10px;
}

.first-name-input{
    margin-right: 5px;
}

.last-name-input{
    margin-left: 5px;
}

.error{
    border: 1px solid rgba(155, 18, 18, 0.8) !important;
    background-color: rgba(172, 107, 107, 0.979) !important;
}

#first-name, #last-name{
    margin-bottom: 0px;
}

.names > div:nth-child(2n){
    margin-left: 5px;
}

.names > div:nth-child(2n-1){
    margin-right: 5px;
}

.names > div{
    margin-bottom: 0px;
}