.home-feed{
    width: 630px;
}

.home-page .main-feed{
    display: flex;
    flex-direction: column;
}

.home-page .main-feed .loader{
    align-self: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page .main-feed > div{
    align-self: center;
    width: 100%;
}

@media only screen and (max-width: 1367px) {
    aside.right-navigation{
        display: none;
    }

    aside.events .left-navigation{
        width: 33%;
    }
    .main-content .home-page{
        float: right;
    }

    .site .main-content{
        margin: 0px
    }
}

@media only screen and (max-width: 1000px){
    aside.events{
        display: none;
    }

    .feed.home-feed{
        width: 100%;
    }
}

@media only screen and (max-width: 366px){
    .main-content .container{
        padding: 0px;
    }
}