.popup-outer .forgot-password .error-message{
    color: rgb(241, 35, 35);
}

.popup-outer .forgot-password > input{
    background-color: var(--slightly-light);
    border: 1px solid var(--border-separator);
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--text-main)
}

.popup-outer .forgot-password > button{
    border: 0px;
    background-color: var(--like-option);
    transition: 0.3s;
    color: white;
    padding: 10px;
    width: 30%;
    align-self: flex-end;
}

.popup-outer .forgot-password > button:hover{
    background-color: var(--like-option-hover);
}

.popup-outer .forgot-password > input::placeholder{
    color: var(--text-dimmed)
}
