.right-navigation{
    background-color: var(--background);
    width: 20%;
    position: fixed;
    right: 0px;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 10px;
    color: var(--text-main);
}

.right-nav-button{
    margin-bottom: 0px;
}

.right-nav-button a{
    color: var(--oposite-color);
    display: block;
    padding: 10px;
}

.right-user, .right-nav-button{
    transition: 0.3s;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.right-nav-button:hover, .right-user:hover{
    background-color: var(--hover-gray);
    cursor: pointer;
    padding-right: 30px;
    font-weight: 600;
}

.right-navigation-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
    width: 100%;
}

.top-half{
    justify-content: right;
    display: flex;
    border-bottom: 2px solid var(--border-separator);
    flex-basis: 50%;
    width: 90%;
    align-self: flex-end;
}

.right-user-photo{
    width: 40px;
    margin-right: 15px;
}

.right-user-photo > img{
    width: 100%;
    border-radius: 20px;
}

.right-user{
    display: flex;
    justify-content: right;
    align-items: center;
}

.people-you-met-title{
    font-size: 26px;
    margin-bottom: 10px;
}

.bottom-half{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.see-more-text{
    align-self: center;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 5px 20px;
    border-radius: 5px;
}

.see-more-text:hover{
    background-color: var(--hover-gray);
    cursor: pointer;
}