@charset "utf-8";

.live-chat {
	background: var(--primary);
    color: var(--text-main);
	font: 100%/1.5em "Droid Sans", sans-serif;
	margin: 0;
    bottom: -5px;
	font-size: 12px;
    position:absolute;
    margin-left: 2px;
    width: 307px;
    z-index: 2;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid var(--border-separator)
}

a { text-decoration: none; }

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.live-chat h4,.live-chat h5 {
	line-height: 1.5em;
	margin: 0;
}

.live-chat img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

.live-chat input {
	border: 0;
	color: rgb(238, 238, 238);
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

.live-chat, p { margin: 0; }

.clearfix { *zoom: 1; } /* For IE 6/7 */


/* ---------- LIVE-CHAT ---------- */


.live-chat .chat-header {
	background: var(--primary);
	border-radius: 5px 5px 0 0;
	color: var(--text-main);
	cursor: pointer;
	padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.live-chat h4 {
	font-size: 12px;
    margin-left: 10px;
}

.live-chat h5 {
	font-size: 10px;
    color: var(--text-dimmed);
}

.live-chat form.send-message-container {
	height: 57px;
    padding: 10px 0px 10px 10px;
    background: var(--primary);
}

.live-chat input[type="text"] {
	border: 1px solid rgb(77, 76, 76);
	border-radius: 3px;
	padding: 8px;
	outline: none;
	width: 234px;
    border-radius: 30px;
}

.live-chat input[type="text"]::placeholder{
    color: var(--text-dimmed);
}

.chat-message-counter {
	background: var(--red-button);
	border: 1px solid var(--border-separator);
	border-radius: 50%;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	left: 0;
	line-height: 28px;
	margin: -15px 0 0 -15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 28px;
}

.chat-close {
	background: var(--secondary);
	border-radius: 50%;
	color: var(--text-main);
	display: block;
	float: right;
	font-size: 20px;
	height: 30px;
	line-height: 24px;
	text-align: center;
	width: 30px;
    transition: 0.3s;
}

.chat-close:hover{
    text-decoration: none;
    color: var(--hover-gray);
    background: var(--hover-gray);
}

.chat {
	background: var(--slightly-light)
}

.chat-history {
	padding: 0px 6px 8px 6px;
    overflow-x: overlay;
    overflow-y: overlay;
    height: 300px;
    scroll-behavior:smooth;
    display: flex;
    flex-direction: column-reverse;
}

.chat-message {
	margin: 0px 0px 8px 0px
}

.chat-message img {
	border-radius: 50%;
	float: left;
    margin-right: 10px;
}

.chat-message-content {
	margin-left: 0px;
    display: flex;
    flex-direction: column;
}

.chat-feedback {
	font-style: italic;	
	margin: 0 0 0 80px;
}

.send-message{
	background: var(--input-background);
    color: var(--text-main) !important;
    border: 0px solid transparent;
}


.paper-plane{
    background: transparent;
    font-size: 22px;
}

.send-message-button{
    background: transparent;
    color: var(--text-main);
    border: 0px solid transparent;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}

.chat-message.your-message{
    margin-left: 30px !important;
}

.chat-message p {
    padding:  8px;
    background-color: var(--secondary);
    display: inline-block;
} 

.other-user-message{
    margin-right: 0px;
    display: flex;
    align-items: center;
}

.other-user-chat-image{
    width: 30px;
    margin-right: 5px;
    align-self: flex-end;
}

.other-user-chat-image > img{
    width: 100%;
    border-radius: 50%;
}

header > .other-user-chat-image{
    width: 40px;
}

.other-user-message > .chat-message-content{
    width: 100%;
}

.chat-message-content p{
    word-break: break-word;
    display: inline-block;
    font-size: 16px;
}

.user-header{
    display: flex;
    align-items: center;
}

.other-user-message p{
    border-radius: 1px 1px 1px 1px;
    padding-right: 10px;
    align-self: flex-start;
}

.your-message p {
    border-radius: 1px 1px 1px 1px;
    padding-left: 10px;
    align-self: flex-end;
}

.your-message header{
    align-self: flex-end;
}

.your-message .top-left-radius{
    border-top-left-radius: 15px;
}

.your-message .bottom-left-radius{
    border-bottom-left-radius: 15px;
}

.other-user-message .top-right-radius{
    border-top-right-radius: 15px;
}


.other-user-message .bottom-right-radius{
    border-bottom-right-radius: 15px;
}

.message-no-bottom-margin{
    margin-bottom: 2px;   
}

.loading-text{
    text-align: center;
}

.chat .loader{
    display: flex;
    flex-direction: column;
    align-items: center;
}