.event-page-top{
    display: flex;
    flex-direction: row;
    gap: 25px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.376);
    padding-bottom: 20px;
    height: 360px;
}

.event-page-top .leave-button{
    position: absolute;
    top: 55px;
    padding: 5px 15px;
    border: 0px;
    background-color: var(--red-button);
    color: white;
    transition: 0.3s;
    border-radius: 20px;
}

.event-page-top .leave-button:hover{
    background-color: var(--red-button-hover);
}

.event-page .event-page-top .photos, .event-page .event-page-top .location-time{
    width: 30%;
}

.event-page-top .photos{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.event-page-top .photos.empty{
    cursor: initial;
}

.event-page-top .photos .add-event-image, .event-page-top .photos .big-add-image{
    background-color: transparent;
    border: 0px;
    color: var(--text-main);
    background-color: var(--slightly-light);
    transition: 0.3s;
}

.event-page-top .photos .event-page-top{
    border-radius: 0px 0px 15px 15px;
}

.event-page-top .photos .add-image{
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
}

.event-page-top .photos .big-add-image{
    width: 100%;
    height: 60%;    
    font-size: 32px;
    font-weight: 400;
    border-radius: 30px;
    align-self: center;
}

.event-page-top .photos .add-event-image:hover, .event-page-top .photos .big-add-image:hover{
    cursor: pointer;
    background-color: var(--slightly-light);
}

.event-page .event-page-top .middle{
    width: 40%;

}

.event-page .event-page-top .image{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event-page .event-page-top .image .main-image{
    width: 100%;
    min-height: 100%;
    margin-top: 15px;
    cursor: pointer;
}

.event-page .event-page-top .image .main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
    border: 2px solid gray;
}

/* Middle */

.event-page-top .going-images{
    margin-left: 10px;
}

.event-page-top .going-images .going-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -15px;
    border: 1px solid rgba(121, 121, 121, 0.418);
}

.event-page-top .bottom-going{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    align-self: center;
}

.event-page-top .bottom-going h2{
    font-size: 20px;
    font-style: italic;
    font-weight: 440;
}

.event-page .location-time{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.event-page .location-time >div{
    border: 2px solid gray;
}

.event-page .location-time .info-text{
    align-self: center;
}

@media only screen and (max-width: 576px){
    .event-page-top{
        flex-direction: column;
        height: initial;
    }

    .event-page .event-page-top .photos, .event-page .event-page-top .location-time, .event-page .event-page-top .middle{
        width: 100%;
    }

    .event-page-middle .interests .user-interest{
        width: initial;
    }
}

@media only screen and (max-width: 767px){
    .event-page .leave-button{
        top: auto;
    }
}