header.profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-picture{
    width: 160px;
    position: relative;
    bottom: 80px;
    margin-bottom: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
}

.profile-picture > img{
    width: 100%;
    border-radius: 20px;
    border: 3px solid rgba(75, 72, 72, 0.733);
}

.cover-photo > img{
    width: 100%;
    border-radius: 0px 0px 30px 30px;
}

.cover-photo{
    width: 100%;
    cursor: pointer;
}


.quote{
    width: 300px;
    padding-left: 20px;
    margin-top: 12px;
    font-weight: 100;
    font-size: 14px;
    font-style: italic;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-word;
    hyphens: auto;
    height: 62px;
}

.below-cover-photo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 83px;
    border-radius: 0px 0px 30px 30px;
    padding: 0px 25px
}

.user-name{
    width: 80%;
    margin-bottom: 0px;
    text-align: center;
}

.user-info:hover{
    text-decoration: none;
}

.user-interest{    
    margin: 2px;
    background-color: var(--secondary);
    color: var(--text-dimmed);
    -webkit-user-select: none;
    user-select: none;
    padding: 2px 5px;
    height: 28px;
    transition: 0.3s;
    margin-bottom: 5px;
    border-radius: 5px;
}

.user-interest:hover{
    cursor: pointer;
    background-color: var(--hover-gray);
}

.profile-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 9px 20px;
    background-color: var(--primary);
    border-radius: 5px;
    margin-top: 2px;
    transition: 0.3s;
}

.profile-navigation > div button{
    text-decoration: none;
    color: var(--text-main);
    padding: 6.5px 50px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: transparent;
    border: 0px;
}

.profile-navigation > div button:hover{
    background-color: var(--hover-gray);
    cursor: pointer;
}

.profile-navigation .selected{
    background-color: var(--hover-gray);
}

.user-interests{
    width: 300px;
    padding: 12px 10px 5px 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.add-friend-nav .add-friend{
    color: white;
    background-color: var(--like-option) !important;
}

.add-friend-nav > .add-friend:hover{
    background-color: var((--like-option-hover))
}

@media only screen and (max-width: 776px){
    .profile-navigation > div button{
        padding: 1px 10px;
    }
    .profile-picture{
        bottom: 30px;
        width: 300px;
    }
}

@media only screen and (max-width: 350px){
    .profile-navigation{
        width: initial;
    }
}