.first-time-popup{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px; 
    box-shadow: 5px 5px 27px 3px rgba(0,0,0,0.78);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    height: 100%;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
}

.first-time-popup .popup-text{
    width: 540px;
    text-align: center;
    background-color: #3F3B3B;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow:auto;
    max-height: 800px;
    box-shadow: 5px 4px 23px 9px rgba(0,0,0,0.89);
}

.first-time-popup .popup-text::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.first-time-popup .popup-text::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.first-time-popup .popup-text::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 24px;
}

/* Handle on hover */
.first-time-popup .popup-text::-webkit-scrollbar-thumb:hover {
  background: rgb(61, 61, 61);
  transition: 1s;
}

.first-time-popup .popup-text:hover::-webkit-scrollbar-thumb{
  background: rgb(168, 161, 161);
  transition: 1s;
}


.close {
    position: absolute;
    right: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(255, 255, 255);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .first-time-title{
      font-size: 24px;
  }

  .first-time-undertitle{
      font-size: 16px;
      text-align: left;
      margin-bottom: 0px;
  }

  #quote{
    background-color: #3F3B3B;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  #quote::placeholder{
    color: white;
  }

.upload-picture{
  margin-top: 20px;
}

.create-account-button{
    background: rgb(35, 87, 155);
    border-radius: 10px;
    border: 0px;
    font-size: 24px;
    width: 50%;
    align-self: center;
    color: white;
    border: 2px solid rgba(19, 60, 114, 0.2);
}

.create-account-button:hover{
    background-color: rgb(58, 108, 173);
    border: 2px solid rgba(54, 101, 163, 0.2);
}

.first-time-popup .error-message{
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  background: #7e0303;
  font-weight: 800;
  margin-bottom: 20px;
  border: 2px solid rgb(204, 204, 204);
}