.profile-friend{
    flex-basis: 50%;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.friends-main .friends-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend-info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex-basis: 80%;
}

.profile-friend .friend-image{
    width: 50px;
}

.profile-friend .friend-image > img{
    width: 100%;
    border-radius: 10px;
}

.profile-friend:hover{
    cursor: pointer;
    background-color: var(--hover-gray);
}

.bottom-section{
    display: flex;
    justify-content: space-between;
}

.friend-info .friend-name,.friend-info .mutual-friends, .friend-status{
    color: var(--text-main);
}

.friend-info:hover{
    color: var(--text-main);
    text-decoration: underline var(--text-main);
}