.close {
    position: absolute;
    right: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(255, 255, 255);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .first-time-title{
      font-size: 24px;
  }

  .first-time-undertitle{
      font-size: 16px;
      text-align: left;
      margin-bottom: 0px;
  }

  #quote{
    background-color: var(--secondary);
    border-radius: 10px;
    color: var(--text-dimmed);
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    min-height: 56px;
  }

  #quote::placeholder{
    color: var(--text-main);
  }

.upload-picture{
  margin-top: 20px;
}

.create-account-button{
    background: var(--like-option-hover);
    border-radius: 10px;
    border: 0px;
    font-size: 24px;
    width: 50%;
    align-self: center;
    color: white;
    border: 2px solid rgba(19, 60, 114, 0.2);
}

.create-account-button:hover{
    background-color: rgb(58, 108, 173);
    border: 2px solid rgba(54, 101, 163, 0.2);
}

.first-time-popup .error-message{
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  background: #7e0303;
  font-weight: 800;
  margin-bottom: 20px;
  border: 2px solid rgb(204, 204, 204);
}