.make-post-popup{
    position: fixed;
}

.make-post-popup .post-popup::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .make-post-popup .post-popup::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .make-post-popup .post-popup::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 24px;
  }
  
  /* Handle on hover */
  .make-post-popup .post-popup::-webkit-scrollbar-thumb:hover {
    background: rgb(61, 61, 61);
    transition: 1s;
  }
  
  .make-post-popup .post-popup:hover::-webkit-scrollbar-thumb{
    background: rgb(168, 161, 161);
    transition: 1s;
  }

.make-post-underheader > .image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.make-post-underheader > .image > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.make-post-underheader{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.make-post-underheader > span{
    margin-left: 10px;
}

.privacy-picker{
    position: relative;
    right: 0px;
    margin-left: auto;
    background-color: var(--secondary);
}

#post-message{
    background-color: var(--secondary);
    border-radius: 5px;
    color: var(--text-main);
    padding: 2px 5px;
    min-height: 100px;
}

#post-message:focus{
    outline: #aaaaaa;
    border-color: #aaaaaa;
}

.make-post-header{
    display: flex;
}

.make-post-title{
    align-self: center;
    font-size: 22px;
    font-weight: 600;

}

.close-make-post{
    position: absolute;
    top: 10px;
    right: 0px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: 0px;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    color: rgb(206, 204, 204);
    border-radius: 20px 0px 0px 20px;
}

.close-make-post:hover{
    background-color: var(--hover-gray);
    color: black;
}

.make-post-popup .privacy-picker > div{
    border-color: #aaaaaa;
}

.make-post-popup .post{
    background-color: var(--like-option);
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    border: 2px solid rgba(19, 60, 114, 0.2);
    color: white;
    transition: 0.3s;
    border-radius: 5px;
}


.make-post-popup .post:hover{
    background-color: var(--like-option-hover);
    border: 2px solid rgba(54, 101, 163, 0.2);
}

.create-post-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.create-post-buttons > .post-button-icon{
    width: 80px;
    height: 80px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.create-post-buttons > .post-button-icon:hover{
    background-color: var(--hover-gray) !important;
}


.create-post-buttons > .post-button-icon.active{
    background-color: var(--hover-dark);
}