.left-navigation{
    width: 100%;
    margin-top: 5px;
    height: 100%;
    position: fixed;
    width: 25%;
    padding-bottom: 75px;
    overflow-y: overlay;
    padding-top: 52px;
    padding-bottom: 54px;
}

.left-navigation.scroll-blocked{
  overflow: hidden;
}

.left-navigation::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .left-navigation::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .left-navigation::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 24px;
  }
  
  /* Handle on hover */
  .left-navigation::-webkit-scrollbar-thumb:hover {
    background: rgb(61, 61, 61);
    transition: 1s;
  }

  .left-navigation:hover::-webkit-scrollbar-thumb{
    background: rgb(168, 161, 161);
    transition: 1s;
  }


