.left-navigation{
    width: 100%;
    margin-top: 5px;
    height: 100%;
    position: fixed;
    width: 25%;
    padding-bottom: 75px;
    overflow-y: overlay;
    padding-top: 52px;
    padding-bottom: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.left-navigation.scroll-blocked{
  overflow: hidden;
}


