.popup-outer{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px; 
    box-shadow: 5px 5px 27px 3px rgba(0,0,0,0.78);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    height: 120%;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
}

.popup-outer .popup-inner{
    width: 540px;
    text-align: center;
    background-color: #3F3B3B;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow:auto;
    box-shadow: 5px 4px 23px 9px rgba(0,0,0,0.89);
    gap: 20px;
    border-radius: 5px;
    max-height: 90vh;
    border-bottom: 5px solid #3F3B3B;
}

.popup-flex-center{
    justify-content: center;
    align-items: center;
}

.main-popup-enter{
    opacity: 0;
}

.main-popup-enter-active{
    opacity: 1;
    transition: opacity 400ms;
}

.main-popup-exit{
    opacity: 1;
}

.main-popup-exit-active{
    opacity: 0;
    transition: opacity 400ms;
}
