.site-footer{
    position: fixed;
    background-color: rgb(92, 92, 92);
    width: 100%;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    bottom: 0px;
    scroll-behavior: smooth;
    vertical-align: middle;
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.2);
    overflow-x: visible;
}

.site-footer::-webkit-scrollbar {
  height: 5px;
}

  
  /* Track */
  .site-footer::-webkit-scrollbar-track {
    background: rgb(92, 92, 92);
  }
  
  /* Handle */
  .site-footer::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 30px;
  }
  
  /* Handle on hover */
  .site-footer::-webkit-scrollbar-thumb:hover {
    background: rgb(61, 61, 61);
  }

  .site-footer:hover::-webkit-scrollbar-thumb{
    background: #888;
  }