/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body{
  background-color: var(--background)
}

.notification{
  box-shadow: none !important;
  transition: 0.3s;
}

.notification-error:hover{
  background-color: #a31f18;
}

:root{
  --red23: rgb(128, 73, 73);
}

:root{
  --like-option: rgb(35, 87, 155);
  --like-option-hover: rgb(57, 125, 214);
  --comment-option: rgb(204, 127, 40);
  --repost-option: rgb(74, 198, 255);
  --red-button: rgb(148,0,0);
  --red-button-hover: rgb(168, 5, 5);
}

[data-theme="dark"]{
  --background: rgb(59, 59, 59);
  --light: rgb(100, 100, 100);
  --slightly-light: rgb(80, 80, 80);
  --primary: rgb(37, 37, 37);
  --secondary: rgb(63, 59, 59);
  --slightly-dark: rgb(49, 49, 49);
  --gray: rgb(55, 56, 58);
  --text-main: white;
  --text-dimmed: rgb(215, 215, 215);
  --hover-gray: rgb(120, 120, 120);
  --hover-dark: rgb(80, 80, 80);
  --oposite-color: black;
  --border-separator:rgb(95, 95, 95);
}

[data-theme="light"]{
  --background: rgb(240, 240, 240);
  --light: rgb(225, 225, 225);
  --slightly-light: rgb(255, 255, 255);
  --primary: rgb(245, 245, 245);
  --secondary: rgb(230,230,230);
  --slightly-dark: rgb(255,255,255);
  --gray: rgb(235,235,235);
  --text-main: black;
  --text-dimmed: rgb(44, 44, 44);
  --hover-gray: rgb(200, 200, 200);
  --hover-dark: rgb(170, 170, 170);
  --oposite-color: white;
  --border-separator: rgb(204, 204, 204);
}


a:hover{
  text-decoration: none;
}