/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body{
  background-color: var(--background)
}

.notification{
  box-shadow: none !important;
  transition: 0.3s;
}

.notification-error:hover{
  background-color: #a31f18;
}

:root{
  --red23: rgb(128, 73, 73);
}

[dark-theme="dark"]{
  --background: rgb(59, 59, 59);
  --light: #807b7b;
  --slightly-light: rgb(92, 92, 92);
  --primary: rgba(36, 37, 38, 0.8);
  --secondary: rgba(32, 33, 34, 1);
  --gray: rgba(55, 56, 58, 0.8);
  --text-main: white;
  --text-dimmed: rgb(165, 162, 162);
  --option-gray: #4d4b4b;
  --hover-gray: #5d5c5c;
  --like-option-hover: rgb(35, 87, 155);
  --comment-option-hover: rgb(204, 127, 40);
  --repost-option-hover: rgb(74, 198, 255);
  --primary-second: #3F3B3B;
  --red-button: rgb(148,0,0);
}


a:hover{
  text-decoration: none;
}