.profile-photos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.photos-main{
    background-color: var(--primary);
    padding: 10px 20px;
    margin-top: 12px;
    border-radius: 10px;
    width: 100%;
}

.photos-main .loader{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}