.feed-photo{
    background-color: rgba(36, 37, 38, 0.8);
}

.post-image{
    width: 100%;
}

.post-image > img{
    object-fit:cover;
    width: 100%;
    height: 100%;
    max-width: 636.05px;
    max-height: 750px;
}