.friend-search-form{
    margin-left: 16px;
}

.friend-search-form > form > input{
    background-color: var(--secondary);
    padding: 0px 25px 0px 10px;
    border: 1px solid var(--border-separator);
    border-radius: 20px;
    color: var(--text-main);
    outline: none;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%);
    width: 160px;
}

.friend-search-form > form > input::placeholder{
    color: rgba(170, 170, 170, 0.856);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.friend-search-form .friend-search-button{
    position: relative;
    right: 25px;
    padding: 0px 7px;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--secondary);
    font-size: 16px;
    transition: 0.5s;
    color: rgba(170, 170, 170, 0.856);
    border: 1px solid var(--border-separator);
    border-left: 0px;
}

.friend-search-form .friend-search-button:hover{
    background-color: var(--hover-gray);
    color: var(--text-dimmed);
}

.friend-search-form > form{
    display: flex;
}

@media only screen and (max-width: 767px){
    .friend-search-form{
        display: none;
    }
}