.profile-feed{
    flex-basis: 50%;
}

.profile-friends{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.friends-main{
    background-color: rgba(36, 37, 38, 0.8);
    padding: 10px 20px;
    margin-top: 12px;
    border-radius: 10px;
    width: 100%;
}

.friends-main > h2{
    margin-bottom: 20px;
}

.loading-text{
    text-align: center;
}

@media only screen and (max-width: 576px){
    .profile-feed{
        flex-basis: 100%;
    }
}


@media only screen and (max-width: 550px){
    .popup-outer .popup-inner{
        width: 300px;
    }
}