.friend-search > form > input{
    background-color: var(--slightly-light);
    padding: 0px 30px 2px 10px;
    border: 1px solid var(--border-separator);
    border-radius: 20px;
    color: var(--text-main);
    outline: none;
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.1);
}

.friend-search > form > input::placeholder{
    color: rgba(170, 170, 170, 0.856);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.friend-search .friend-search-button{
    position: relative;
    right: 31px;
    top: 1px;
    padding: 1px 7px;
    border-radius: 0px 20px 20px 0px;
    border: 0px;
    background-color: var(--slightly-light);
    font-size: 16px;
    transition: 0.5s;
    color: rgba(170, 170, 170, 0.856);
    border: 1px solid var(--border-separator);
    border-left: 0px;
}

.friend-search .friend-search-button:hover{
    background-color: var(--gray);
    color: var(--hover-gray);
}


.search-button:hover{
    background-color: var(--hover-gray);
    color: var(--text-dimmed);
}

@media only screen and (max-width: 767px){
    .friends-main .friend-search{
        display: none;
    }
    .friends-main .profile-friends{
        flex-direction: column;
    }
}

