.comment .user-picture{
    cursor: pointer;
}

.comment .inner-comment .top-comment-half{
    color: var(--text-main);
}

.comment .inner-comment .top-comment-half:hover{
    cursor: pointer;
    text-decoration: underline;
}