.left-navigation .events{
    display: flex;
    flex-direction: column;
    color: white;
}

.event-tab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content > .events{
    flex-basis: 31%
}

.event-tab-title{
    writing-mode:vertical-lr;
    text-orientation:sideways;
    transform: rotate(180deg);
    margin: auto 0px;
    font-size: 28px;
    height: 166px;
    text-align: center;
    background-color: #5C5C5C;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    padding-left: 8px;
    height: 100%;
}

.event-row{
    display: flex;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 12px 0px 0px 12px;
    box-shadow: 2px 3px 30px 10px rgba(0,0,0,0.3);
    height: 162px;
    white-space: nowrap;
}

.event-tab{
    flex-grow: 1;
    border-left: 0px;
    height: 100%;
    flex-wrap: nowrap;
}