.left-navigation .events{
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
}

.event-tab{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content > .events{
    flex-basis: 30%;
}

.event-tab-title{
    writing-mode:vertical-lr;
    text-orientation:sideways;
    transform: rotate(180deg);
    margin: auto 0px;
    font-size: 28px;
    height: 166px;
    text-align: center;
    background-color: #5C5C5C;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    padding-left: 8px;
    height: 100%;
}

.event-row{
    display: flex;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 12px 0px 0px 12px;
    box-shadow: 2px 3px 30px 10px rgba(0,0,0,0.3);
    white-space: nowrap;
    margin: 5px 10px 0px 10px;
}

.event-row.h-1{
    height: 160px;
}

.event-row.h-2{
    height: 320px;
}

.event-tab{
    flex-grow: 1;
    border-left: 0px;
    height: 100%;
    flex-wrap: nowrap;
}

.line-parent{
    height: 50px;
    width: 100px;
    transform: rotate(270deg);
    border-bottom: 1px solid rgb(197, 189, 189, 0.4);
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 70px;
}

.line{
    position: relative;
    left: -50%;
}