.left-navigation .events{
    display: flex;
    flex-direction: column;
    color: var(--text-main);
    width: 100%;
}

.event-tab{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content > .events{
    flex-basis: 30%;
}

.event-tab-title{
    writing-mode:vertical-lr;
    text-orientation:sideways;
    transform: rotate(180deg);
    margin: auto 0px;
    font-size: 28px;
    height: 166px;
    text-align: center;
    background-color: var(--slightly-light);
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    padding-left: 8px;
    height: 100%;
}

.event-row{
    display: flex;
    border: 2px solid var(--border-separator);
    border-radius: 12px 0px 0px 12px;
    white-space: nowrap;
    margin: 5px 10px 0px 10px;
    background: var(--gray);
}

.event-row.h-1{
    height: 160px;
}

.event-row.h-2{
    height: 320px;
}

.event-tab{
    flex-grow: 1;
    border-left: 0px;
    height: 100%;
    flex-wrap: nowrap;
    gap: 2px;
}

.line-parent{
    height: 0px;
    width: 100px;
    transform: rotate(270deg);
    border-bottom: 2px solid var(--border-separator);
    position: absolute;
    left: 48px; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 90px;
}

.line{
    position: relative;
    left: -50%;
}

@media only screen and (max-width: 1667px){
    .line-parent{
        display: none;
    }
}