.search-form{
    margin-left: 15px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
}

.search-form form input{
    background-color: var(--light);
    padding: 0px 20px 0px 10px;
    border: 3px solid rgb(92, 91, 90, 0.4);
    border-radius: 20px;
    color: rgb(221, 221, 221);
    outline: none;
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.4);
    width: 100%;
}

.search-form form input::placeholder{
    color: rgba(170, 170, 170, 0.856);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.search-button{
    position: relative;
    right: 40px;
    padding: 0px 7px;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--slightly-light);
    font-size: 16px;
    transition: 0.5s;
    color: rgba(170, 170, 170, 0.856);
    border: 3px solid rgb(92, 91, 90, 0.4);
    position: absolute !important;
}

.search-button:hover{
    background-color: var(--hover-gray);
    color: rgb(221, 221, 221);
    border: 3px solid rgb(92, 91, 90, 0.1);
}

.search-form{
    display: flex;
}

.search-form .search-suggestions{
    position: fixed;
    background-color: var(--slightly-light);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s;
    padding: 5px;
}

.search-form .search-suggestions.hide{
    display: none;
}

.search-suggestions .result-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search-suggestions .result-image > img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    border-radius: 50%;
}

.search-form .search-result{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.search-form .search-result:hover{
    cursor: pointer;
    background-color: var(--hover-gray);
}

.chat-history {
	padding: 0px 6px 8px 6px;
    overflow-x: overlay;
    overflow-y: overlay;
    height: 300px;
    scroll-behavior:smooth;
    display: flex;
    flex-direction: column-reverse;
}

.search::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .search::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .search::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 24px;
  }
  
  /* Handle on hover */
  .search::-webkit-scrollbar-thumb:hover {
    background: rgb(61, 61, 61);
    transition: 1s;
  }

  .search::-webkit-scrollbar-thumb{
    background: rgb(168, 161, 161);
    transition: 1s;
  }