.search-form{
    margin-left: 15px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
}

.search-form form input{
    background-color: var(--secondary);
    padding: 0px 25px 0px 10px;
    border: 2px solid var(--border-separator);
    border-radius: 20px;
    color: var(--text-main);
    outline: none;
    width: 100%;
}

.search-form form input::placeholder{
    color: var(--text-dimmed);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    opacity: 0.7;
}

.search-button{
    position: relative;
    right: 35px;
    padding: 0px 7px;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--secondary);
    font-size: 16px;
    transition: 0.5s;
    color: rgba(170, 170, 170, 0.856);
    border: 2px solid var(--border-separator);
    border-left: 0px;
    position: absolute !important;
}

.search-button:hover{
    background-color: var(--hover-gray);
    color: var(--text-dimmed);
}

.search-form{
    display: flex;
}

.search-form .search-suggestions{
    position: fixed;
    background-color: var(--slightly-light);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s;
    padding: 5px;
}

.search-form .search-suggestions.hide{
    display: none;
}

.search-suggestions .result-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search-suggestions .result-image > img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    border-radius: 50%;
}

.search-form .search-result{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.search-form .search-result:hover{
    cursor: pointer;
    background-color: var(--hover-gray);
}

.chat-history {
	padding: 0px 6px 8px 6px;
    overflow-x: overlay;
    overflow-y: overlay;
    height: 300px;
    scroll-behavior:smooth;
    display: flex;
    flex-direction: column-reverse;
}

  .search-suggestions .loader{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-suggestions{
      z-index: 10;
  }

  @media only screen and (max-width: 567px){
      .search-suggestions{
        left: 20%;
      }
  }

  @media only screen and (max-width: 367px){
    .search-suggestions{
        left: 10%;
    }
}