.register input{
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid transparent;
}

.register input, .gender, .gender-buttons{
    border-radius: 5px;
    background-color: rgba(143, 143, 143, 0.678);
}

.register input::placeholder{
    color: rgb(0, 0, 0);
}

.register input{
    margin-bottom: 10px;
}

.register{
    display: flex;
    flex-direction: column;
}

#register-button{
    width: 30%;
    align-self: flex-end;
    margin-top: 10px;
    background-color: rgb(22, 38, 110);
    color: white;
    transition: 0.3s;
}

#register-button:hover{
    background-color: rgb(51, 66, 134);
    color: rgb(255, 255, 255);
}

.bottom-row{
    display: flex;
}

.passwords{
    display: flex;
    flex-direction: column;
}

.tos{
    font-size: 12px;
}

.input-error{
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    color: rgb(255, 87, 87);
    transition: 0.3s;
    overflow: visible;
    white-space: nowrap;
}

.bottom-row{
    margin-top: 10px;
    margin-bottom: 10px;
}