.register input{
    color: rgb(0, 0, 0);
    padding: 10px;
}

.register input, .gender, .gender-buttons{
    border-radius: 5px;
    background-color: rgba(143, 143, 143, 0.678);
}

.register input::placeholder{
    color: rgb(0, 0, 0);
}

.register input{
    margin-bottom: 10px;
}

.register{
    display: flex;
    flex-direction: column;
}

#register-button{
    width: 30%;
    align-self: flex-end;
}

.bottom-row{
    display: flex;
}

.passwords{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}