.user-image{
    width: 40px;
    margin-right: 6px;
    border: 1px solid rgba(92, 91, 90, 0.2);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.3);
    border-radius: 50%;
}

.user-image > img{
    width: 100%;
    border-radius: 50%;
}

.user-info{
    display: flex;
    padding: 5px;
    border-radius: 25px;
    align-items: center;
    transition: 0.3s;
    color: var(--text-main);
}

.user-name{
    margin-right: 10px;
    font-weight: 500;
}

.user-info:hover{
    background-color: var(--hover-gray);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}