
header.feed-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--primary);
}

.header-left{
    display: flex;
    align-items: center;
}

.post-creator-image{
    margin-right: 10px;
}

.header-elipsis{
    margin-right: 20px;
    color: rgb(126, 122, 122);
    transition: 0.4s;
    font-size: 40px;
    padding:10px;
    border-radius: 10px;
}

.header-elipsis:hover{
    cursor: pointer;
    background-color: var(--slightly-light);
}

.header-user-data h3{
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 500;
}

.header-user-data > span{
    font-size: 12px;
    font-style: italic;
}

.header-user-data .upper-post-data{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.header-user-data .upper-post-data button{
    background-color: transparent;
    border: 0px;
    color: white;
    font-weight: 600;
    padding: 0px;
}

.header-user-data h3{
    color: white;
}

.post-creator-image:hover, .header-user-data h3:hover{
    cursor: pointer;
    text-decoration: underline;
}