a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.site-header{
  background-color: var(--slightly-light);
  color:var(--text-main);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.circle-right{
  margin-left: 12px;
  font-size: 20px;
  color: var(--text-main);
  padding: 3px 7px;
  background-color: var(--light);
  box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.05);
  border: 1px solid var(--border-separator);
  border-radius: 50%;
  transition: 0.3s;
}

.circle-right:hover{
  background-color: var(--hover-gray);
  box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

.navbar{
  padding: 0.25rem 1rem;
  justify-content: space-between;
}

.bottom-border{
  border-bottom: 1px solid var(--border-separator);
}

.nav-right{
  display: flex;
}

.site-header .logo{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 15px;
}

.site-header .logo-text{
  height: 40px;
  width: 120px;
}

.site-header .logo-image{
  height: 15px;
  width: 43px;
  margin-top: 3px;
}

.site-header .logo-text > img,.site-header .logo-image > img{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 767px){
  .site-header > nav.navbar{
    flex-direction: column;
    gap: 10px;
  }

  .site-header .logo > a{
    margin: auto;
  }

  .site-header .search-form{
    position: initial;
  }

  .site-header .nav-right{
    width: 100%;
    justify-content: flex-start;
  }

  .site-header .navigation-settings{
    position: absolute;
    right: 0px;
  }

  .site-header .search-button{
    right: unset;
    margin-left: -20px;
    font-size: 14px;
  }

  .site-header .search-form{
    width: initial;
  }
}