a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.site-header{
  background-color: var(--slightly-light);
  color:white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.circle-right{
  margin-left: 12px;
  font-size: 20px;
  color: rgb(241, 240, 240);
  padding: 3px 7px;
  background-color: var(--light);
  box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.2);
  border: 2px solid rgb(92, 91, 90, 0.4);
  border-radius: 50%;
  transition: 0.3s;
}

.circle-right:hover{
  background-color: var(--hover-gray);
  box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

.navbar{
  padding: 0.25rem 1rem;
  justify-content: space-between;
}

.bottom-border{
  border-bottom: 2px solid rgb(141, 140, 140, 0.5);
}

.nav-right{
  display: flex;
}