.approve-popup .approve-button{
    background-color: rgb(148, 9, 9);
    padding: 5px 15px;
    font-weight: 500;
    font-size: 16px;
    border: 0px;
    color: white;
    border-radius: 20px;
    transition: 0.3s;
}

.approve-popup .approve-button:hover{
    background-color: rgb(177, 12, 12);
}

.popup-outer.approve-popup{
    position: fixed;
}