.main-content, .right-navigation{
    padding-top: 52px;
    padding-bottom: 65px;
    display: flex;
}

.container{
    margin-left: 0px;
}

.site{
    display: flex;
    flex-direction: column;
}

.main-content{
    margin: 0% 30%;
}

body{
    color: white;
}