code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .map-user-search{
    position: relative;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }
  
  .search {
    z-index: 102;
    color: var(--text-main);
    transition: 0.3s;
  }

  .search input{
    border-radius: 10px;
    border: 1px solid black;
  }

  .search inut:focus{
    border-radius: 0px;
  }
  
  .search input, .search-suggestion {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: var(--input-background) !important;
    transition: 0.3s;
  }
  
.search-suggestion li:hover{
  background-color: var(--hover-gray) !important;
}

  .locate {
    background: none;
    border: none;
  }
  .locate img {
    width: 50px;
    cursor: pointer;
  }

  .search-suggestion{
    z-index: 102;
  }

  .find-location div{
    border-radius: 10px;
  }

  .map-search{
    color: var(--text-main);
  }

  .map-user-search input {
    color: var(--text-main);
  }