.pop-up-title{
    align-self: center;
    font-size: 22px;
    font-weight: 600;
    padding-right: 100px;
}

.close-event{
    position: absolute;
    top: 10px;
    right: 0px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: 0px;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    color: rgb(206, 204, 204);
    border-radius: 20px 0px 0px 20px;
}

.close-event:hover{
    background-color: #5c5858;
    color: black;
}