.profile-picture{
    width: 160px;
    position: relative;
    bottom: 80px;
    margin-bottom: -100px;
    box-shadow: 0px -21px 50px 3px  rgba(63, 59, 59, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: 20px;
}

.profile-picture > img{
    width: 100%;
    border-radius: 20px;
    border: 3px solid rgba(75, 72, 72, 0.733);
}


.cover-photo > img{
    width: 100%;
    border-radius: 30px;
}

.profile-top{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote{
    width: 300px;
    padding-left: 20px;
    margin-top: 12px;
    font-weight: 100;
    font-size: 14px;
    font-style: italic;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
}

.user-interests{
    width: 300px;
    padding: 12px 10px 5px 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.below-cover-photo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 83px;
}

.user-name{
    width: 80%;
    text-align: center;
}

.user-interest{    
    margin: 2px;
    background-color: #575151;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.856);
    -webkit-user-select: none;
    user-select: none;
    padding: 2px 5px;
    height: 28px;
    transition: 0.3s;
    margin-bottom: 5px;
}

.user-interest:hover{
    cursor: pointer;
    background-color: #252424;
}



.pictures{
    display: flex;
    flex-wrap: wrap;
    width: 344px;
}

.small-profile-photo{
    width: 110px;
    margin: 2px;
}

.small-profile-photo > img{
    width: 100%;
}

.profile-sidebar{
    position: fixed;
    left: 25%;
    width: 20%;
    background-color: orange;
    overflow-y: scroll;
    height: 458px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-sidebar::-webkit-scrollbar {
    display: none;
}

.user-information{
      display: flex;
      flex-direction: column;   
      margin-left: 10px;
}

.user-details{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profile-feed{
    padding-left: 40%;
}

.profile-main{
    width: 100%;
}