.profile-top{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--text-main);
}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.profile-feed{
    flex-basis: 50%;
}

.main-content{
    margin: 0% 25%;
}

.feed{
    margin-top: 12px;
}

@media only screen and (max-width: 1366px){
    .main-content .container{
        padding: 0px;
        margin: 0px;
        max-width: none;
        padding: 0px 20px;
    }

    .main-content{
        margin: 0px 0px;
    }

    .profile-feed .make-post{
        flex-direction: column;
    }
}

.profile-feed .feed .loader{
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}