footer.feed-footer .bottom-footer{
    display: flex;
    justify-content: space-between;
    margin: 0.3% 4%;
}

footer.feed-footer .bottom-footer > div{
    padding: 1% 9%;
    transition: 0.3s;
    border-radius: 10px;
}

footer.feed-footer .bottom-footer > div:hover{
    background-color: #5d5c5c;
    cursor: pointer;
}

footer.feed-footer .bottom-footer > div.feed-like:hover{
    color:rgb(20, 76, 149);
}

footer.feed-footer .bottom-footer > div.feed-comment:hover{
    color:rgb(204, 127, 40);
}

footer.feed-footer .bottom-footer > div.feed-repost:hover{
    color:rgb(74, 198, 255);
}

.likes a, .comments-reposts a{
    color: rgb(184, 179, 179);
    transition: 0.3s;
}

.likes a:hover, .comments-reposts a:hover{
    text-decoration: none;
    text-decoration: underline;
}

.post-button{
    margin-right: 5px;
}

footer.feed-footer .bottom-footer > div.feed-like.liked{
    color:rgb(29, 90, 170);
}

footer.feed-footer .bottom-footer > div.feed-comment.opened-comments{
    color:rgb(211, 138, 55);
}

.feed-footer .comments-section .user-picture{
    width: 40px;
    min-width: 40px;
    margin-right: 7px;
}

.feed-footer .comments-section .user-picture img{
    width: 100%;
    border-radius: 50%;
    margin-top: 5px;
}

.feed-footer .comments-section .comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    align-items: flex-start;
    margin: 5px 5px;
    border-radius: 20px;
}

.feed-footer .comments-section .comment .comment-footer{
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 5px;
    color:  rgb(180, 180, 180);
}

.feed-footer .comments-section .comment .comment-footer button{
    background-color: transparent;
    border: transparent;
    color:  rgb(214, 212, 212);
    padding: 0px;
}

.feed-footer .comments-section .comment .comment-footer button:hover{
    text-decoration: underline;
}

.feed-footer .comments-section .comment .inner-comment{
    background-color: rgb(45, 46, 47);
    border-radius: 20px;
    padding: 5px 10px;
}

.feed-footer .comments-section .inner-comment{
    padding-left: 10px;
}

.feed-footer .comments-section{
    display: flex;
    flex-direction: column;
    overflow-y: overlay;
    max-height: 200px;
}

.feed-footer .comments-section .comment-like-button{
    background: rgb(29, 90, 170);
    font-size: 24px;
    padding: 4px;
    border-radius: 50%;
    margin-left: auto;
}
.feed-footer .comments-section .comment-likes{
    margin-left: auto;
    display: flex;
    cursor: pointer;
}

.comment-likes-count{
    margin-left: -5px;
        margin-top: 8px;
        margin-bottom: -8px;
        color: #d9d7d7;;
}

.feed-footer .comments-section::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .feed-footer .comments-section::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .feed-footer .comments-section::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 24px;
  }
  
  /* Handle on hover */
  .feed-footer .comments-section::-webkit-scrollbar-thumb:hover {
    background: rgb(61, 61, 61);
    transition: 1s;
  }
  
  .feed-footer .comments-section:hover::-webkit-scrollbar-thumb{
    background: rgb(168, 161, 161);
    transition: 1s;
  }
  
  .feed-footer .comments .add-comment input{
    width: 99%;
    background: #5d5d5d;
    color: white;
    border: 0px;
    margin: 3px;
    border-radius: 20px;
    padding: 3px 5px;
  }
  
  .feed-footer .comments .comment-send{
      margin-left: -25px;
      margin-left: -32px;
      background: #5d5d5d;
      font-size: 30px;
      padding: 5px;
      border-radius: 50%;
      align-self: center;
      cursor: pointer;
  }

  .feed-footer .comments .add-comment{
      display: flex;
  }