ul.terms-of-service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px 20px
}

ul.terms-of-service button{
    background-color: transparent;
    border: 0px;
    color: white;
}

ul.terms-of-service button:hover{
    text-decoration: underline;
}

.terms-of-service{
    margin-top: 15px;
    height: 42px;
    border: 2px solid rgb(32, 32, 32, 0.5);
    background-color: var(--secondary);
}

.tos{
    font-size: 12px;
}