ul.terms-of-service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px 20px
}

ul.terms-of-service a{
    color: white;
}

.terms-of-service{
    margin-top: 15px;
    height: 42px;
    border: 2px solid rgb(32, 32, 32, 0.5);
    background-color: #5C5C5C;
}