.attending-user-photo{
    width: 25px;
    border-radius: 50%;
    position: relative;
}

.attending-user-photo img{
    width: 100%;
    border-radius: 50%;
}

.event{
    flex-basis: 49%;
    border: 2px solid black;
}

.attendingUsers{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 55px;
    margin-bottom: 5px;
}

.event-header{
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 0px 5px;
}

.interests{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.interest{
    padding: 2px;
    margin: 2px;
    background-color: #535050;
    border-radius: 10px;
    color: rgb(255, 255, 255, 0.7);
}

.event-card{
    display: flex;
    align-items: center;
}