.attending-user-photo{
    width: 25px;
    border-radius: 50%;
    position: relative;
    margin-left: -15px;
}

.attending-user-photo img{
    width: 100%;
    border-radius: 50%;
}

.event{
    height: 100%;
    width: 100%;
    background-color: #5C5C5C;
}

.event-tab .event:nth-child(2n+1){
    margin-bottom: 3px;
}

.event-tab .event:nth-child(2n){
    margin-top: 3px;
}

.attendingUsers{
    display: inline-flex;
    flex-direction: row;
    justify-content:center;
    align-items: baseline;
    margin-left: 15px;
}

.event-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 5px 0px 0px;
}

.event-header h4{
    margin-bottom: 4px;
    align-self: center;
}

.event .interests{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    height: 65px;
    overflow-y: hidden;
    width: 90%;
    overflow-x: hidden;
}

.event .interest{
    margin: 2px;
    background-color: #3a3838;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.856);
    user-select: none;
    padding: 2px 5px;
    height: 28px;
}

.event .interest:hover{
    cursor: pointer;
    background-color: #252424;
}

.event-card{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.event-card .left-side{
    flex-basis: 50%;
}

.event-card .rigth-side{
    flex-basis: 50%;
}

.w-1 .attending-user{
    align-self: baseline;
    margin-top: 10px;
}

.w-1 .attending-user-photo{
    width: 40px;
    align-self: flex-end;
    box-shadow: 5px 5px 29px 15px rgba(0,0,0,0.05);
}
.w-2 .attending-user-photo{
    width: 40px;
    align-self: flex-end;
    box-shadow: 5px 5px 29px 15px rgba(0,0,0,0.05);
    margin-left: -20px;
}

.w-2.attendingUsers{
    max-height: 60px;
    width: 90px;
}

.w-3 .attending-user-photo{
    width: 30px;
    align-self: flex-end;
    box-shadow: 5px 5px 29px 15px rgba(0,0,0,0.05);
}

.w-3.attendingUsers{
    max-height: 60px;
    width: 90px;
    margin-top: 5px;
}

.w-4.attendingUsers{
    max-height: 60px;
    width: 90px;
}

.location > button{
    color: white;
    text-decoration: none;
    transition: 0.5s;
    padding: 5px 10px;
    margin-left: 5px;
    background-color: transparent;
    border: 0px;
    border-radius: 30px;
}

.location > button:hover{
    text-decoration: none;
    background-color: rgb(104, 102, 102);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.05);
}

.event .right-side{
    height: 90px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.event-information{
    display: flex;
    justify-content: space-between;
}

.event-card .view-button{
    background-color: rgb(35, 87, 155);
    border: 0px;
    padding: 5px 15px;
    margin: 5px 0px;
    border-radius: 20px;
    color: white;
    transition: 0.3s;
    text-decoration: none;
}

.event-card .view-button:hover{
    background-color: rgb(45, 109, 194);
}